@media screen and (max-width: 992px) {

	.accordion__list .accordion__slide-link {
		transform: skew(0);
	}

	.accordion__list:hover .accordion__slide:hover .accordion__slide-link {
		padding: 100px 0px 200px 55px;
		transform: skew(0);
	}

	.accordion__slide-link h2 {
		font-size: 25px;
		width: 330px;
	}

	.accordion__slide-link h4,
	.accordion__text {
		font-size: 12px;
		width: 330px;
	}

	.accordion__text li {
		width: 330px;
	}

	.reviews__text {
		width: 40%;
	}

	.reviews__logos {
		width: 60%;
	}

	.reviews__logos-image {
		width: 167px;
	}

	.read {
		display: none;
	}

	.read-2 {
		display: flex;
		justify-content: center;
		padding-top: 20px;
		margin: 0 auto;
	}

	.read-2 button {
		width: 239px;
		height: 60px;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 26px;
		color: #fff;
		font-weight: 700;
		text-align: center;
		background-color: #1c7fff;
		border: 1px solid #1c7fff;
		cursor: pointer;
	}

	.read-2 button:focus {
		color: #fff;
		background-color: red;
		border: 1px solid red;
		outline: none;
		cursor: pointer;
	}

	.form-popup {
		display: none;
		position: fixed;
		bottom: 95px;
		left: 215px;
		border: 3px solid #f1f1f1;
		z-index: 9;
		max-width: 160px;
		width: 100%;
	}
}

@media screen and (max-width: 870px) {

}

@media screen and (max-width: 992px) {

}